<head>	
	
	<title>Home :: RBlog</title>
	
	<link href="/assets/templatemo_style.css" rel="stylesheet" type="text/css" />
	<link href="/assets/s3slider.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript" src="/assets/s3Slider.js"></script>
	<script type="text/javascript">
    	$(document).ready(function() {
        	$('#slider').s3Slider({
            	timeOut: 1600
        	});
    	});
	</script>
	
	<style type="text/css">
		
		#templatemo_menu ul li #index {
			
			height: 38px;
			padding-top: 10px;
			color: #fff;
			background: url(/assets/templatemo_menu_hover.png) bottom no-repeat;
		
		}
		
		.more {
			
			margin-top: -27px;
			float: right;
			
		}
		
		#next, #previous {
			
			color: #781919;
			font-size: 20px; 
			font-style: italic;
			
		}
		
	</style>
	
</head>

<body>
	
    <div id="templatemo_right_column">
    	
       	<div id="templatemo_main">
        	
        	<% @rblogs.each do |rblog| %>
        	
           		<div class="post_section">
            	
               		<span class="comment"> <%= rblog.id %> </span>
            		
               		<h2> <a href="blog_post?postId=<%= rblog.id %>"> <%= rblog.post_title %> </a> </h2>
                	
   					<strong>Author:</strong> <%= rblog.author %>  |  <%= rblog.updated_at.to_datetime.strftime("%B %d, %Y at %I:%M %p") %> <br /> <!-- December 28, 2048 -->
                	
               		<p> <%= simple_format(rblog.post_message.first(150)) %> </p>
              			
              		<% if rblog.post_message.size > 150 %>
              			
              			<a href="blog_post?postId=<%= rblog.id %>" class="more">Continue reading...</a>
                
                	<% end %>
                	
            	</div> <!-- end of post section -->
            
            <% end %>
            
            <% if @rblogs_count > (@from + $rblogs_limit) %>
            	
            	<a href="index?from=<%= (@from + $rblogs_limit) %><%= ((@author == nil) ? "" : "&author=#{@author}") %>" id="next" style="float: right; padding-right: 20px;">Next</a>
            	
            <% end %>
            
            <% if 0 <= (@from - $rblogs_limit) %>
            	
            	<a href="index?from=<%= (@from - $rblogs_limit) %><%= ((@author == nil) ? "" : "&author=#{@author}") %>" id="previous" style="float: left; paddingleft: 20px;">Previous</a>
            	
            <% end %>
            	
        </div> <!-- end of main -->
    	
  		<div class="cleaner"></div><br/>
  		
  	</div> <!-- end of right column -->
    
</body>
