<head>	
	
	<title>Home :: RBlog</title>
	
	<link href="/assets/templatemo_style.css" rel="stylesheet" type="text/css" />
	
	<style type="text/css">
		
		#templatemo_menu ul li #index {
			
			height: 38px;
			padding-top: 10px;
			color: #fff;
			background: url(/assets/templatemo_menu_hover.png) bottom no-repeat;
		
		}
		
		.more {
			
			margin-top: -27px;
			float: right;
			text-decoration: none;
			
		}
		
		#next, #previous {
			
			color: #781919;
			font-size: 20px; 
			font-style: italic;
			
		}
		
	</style>
	
</head>

<body>
	
    <div id="templatemo_right_column">
    	
       	<div id="templatemo_main">
        	
        	<% @rblogs.each do |rblog| %>
        	
           		<div class="post_section">
            	
               		<span class="comment"> <%= rblog.id %> </span>
            		
               		<h2> <%= link_to("#{rblog.post_title}", {:controller => 'rblog', :action => 'blog_post', :postStatus => 'show', :postId => "#{rblog.id}"}) %> </h2>
                	
   					<strong>Author:</strong> <%= rblog.author %> <strong> | </strong> <%= rblog.updated_at.to_datetime.strftime("%B %d, %Y at %I:%M %p") %> <br />
                	
                	
               		<p> 
               			
               			<% post_message = rblog.post_message.split("\n"); %>
               			<%= simple_format(post_message.take(5).join("\n")); %>
               			
               			<%= link_to(((post_message.length > 5) ? "...more..." : ""), {:controller => 'rblog', :action => 'blog_post', :postStatus => 'show', :postId => "#{rblog.id}"}, :class => 'more') %>
               			
               		</p>
              		
            	</div> <!-- end of post section -->
            
            <% end %>
            
            <% if @rblogs_count > (@from + @rblogs_limit) %>
            	
            	<%= link_to("Next", {:controller => 'rblog', :action => 'index', :author => "#{@author}", :from => "#{@from + @rblogs_limit}"}, :id => 'next', :style => "float: right; padding-right: 20px;") %>
            	
            <% end %>
            
            <% if 0 <= (@from - @rblogs_limit) %>
            	
            	<%= link_to("Previous", {:controller => 'rblog', :action => 'index', :author => "#{@author}", :from => "#{@from + @rblogs_limit}"}, :id => 'previous', :style => "float: left; padding-left: 20px;") %>
            	
            <% end %>
            	
        </div> <!-- end of main -->
    	
  		<div class="cleaner"></div><br/>
  		
  	</div> <!-- end of right column -->
    
</body>
