<head>
	
	<%= favicon_link_tag '/assets/rblog_icon.ico' %>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="rblog, blog" />
	<meta name="description" content="RBlog is developed using Ruby on Rails" />
	
</head>

<body>
	
	<div id="templatemo_wrapper">
		
		<div id="templatemo_menu">
        	        
       		<ul>
           		<li> <%= link_to("RBlog", {:action => 'index'}, :id => 'index') %> </li>
           		<li> <%= link_to("Sitemap", {:action => 'sitemap'}, :id => 'sitemap') %> </li>
           		<li> <%= link_to("About Us", {:action => 'about'}, :id => 'about') %> </li>
           		<li> <%= link_to("Contact", {:action => 'contact'}, :id => 'contact') %> </li>
        	</ul>	
    	
    	</div> <!-- end of menu -->
    
        <div id="templatemo_left_column">
    
        	<div id="templatemo_header">
        	
            	<div id="site_title">
                	
                	<h1>
                		<%= link_to(simple_format("R<strong>Blog</strong><span>This is a blog</span>"), {:action => 'index'}, :id => 'index') %>
                	</h1>
            	
            	</div> <!-- end of site title -->
            	
        	</div> <!-- end of header -->  
        	
        	<div id="templatemo_sidebar">
    		
            	<div id="templatemo_rss">
            	
                	<br /> <%= link_to("CREATE NEW POST", {:action => 'blog_post', :postStatus => 'new'}) %>
                	
            	</div>
            	
            	<h4>Authors</h4>
            	
            	<ul class="templatemo_list">
                	
                	<% Rblog.authors.each do |author| %>
                		
                		<li> <%= link_to("#{author}", {:action => 'index', :author => "#{author}"}) %> </li>
                		
                	<% end %>
                	
            	</ul>
            
            	<div class="cleaner_h40"></div>
            	
        	</div> <!-- end of side bar --> 
    
    	</div> <!-- end of left column -->
    	
    	<%= yield %>
    	
		<div class="cleaner_h20"></div>
  	
  		<div id="templatemo_footer">
    	
			Copyright &copy; 2048 <a href="#">Your Company Name</a> | 
        	<a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
        
    	</div>
  
    	<div class="cleaner"></div>
	
   </div> <!-- end of wrapper -->
   
	<div align=center>
		This template downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
	</div>
	
</body>
